%h1= t(:sign_up)
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div.field
    = f.label :username
    = f.text_field :username, :autofocus => true
  %div.field
    = f.label :email
    = f.email_field :email
  %div.field
    = f.label :password
    = f.password_field :password
  %div.field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %div= f.submit "Sign up"
= render "devise/shared/links"
