%h1= t(:welcome_to_expiry_sync_title)
%p= t(:set_password_intro).html_safe
%hr
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  %div
    = f.label :password, t("new_password")
    = f.password_field :password, :autofocus => true
  %br/
  %div
    = f.label :password_confirmation, t("confirm_password")
    = f.password_field :password_confirmation
  %br/
  %div= f.submit t("set_password_button")
