<%= form_for(@article_image) do |f| %>
  <% if @article_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article_image.errors.count, "error") %> prohibited this article_image from being saved:</h2>

      <ul>
      <% @article_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :source_url %><br>
    <%= f.text_field :source_url %>
  </div>
  <div class="field">
    <%= f.label :image_data %><br>
    <%= f.text_field :image_data %>
  </div>
  <div class="field">
    <%= f.label :article %><br>
    <%= f.text_field :article %>
  </div>
  <div class="field">
    <%= f.label :article_source_id %><br>
    <%= f.number_field :article_source_id %>
  </div>
  <div class="field">
    <%= f.label :creator_id %><br>
    <%= f.number_field :creator_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
