<h1>Listing article_images</h1>

<table>
  <thead>
    <tr>
      <th>Source url</th>
      <th>Image data</th>
      <th>Article</th>
      <th>Article source</th>
      <th>Creator</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @article_images.each do |article_image| %>
      <tr>
        <td><%= article_image.source_url %></td>
        <td><%= article_image.image_data %></td>
        <td><%= article_image.article %></td>
        <td><%= article_image.article_source_id %></td>
        <td><%= article_image.creator_id %></td>
        <td><%= link_to 'Show', article_image %></td>
        <td><%= link_to 'Edit', edit_article_image_path(article_image) %></td>
        <td><%= link_to 'Destroy', article_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article image', new_article_image_path %>
