<p id="notice"><%= notice %></p>

<p>
  <strong>Source url:</strong>
  <%= @article_image.source_url %>
</p>

<p>
  <strong>Image data:</strong>
  <%= @article_image.image_data %>
</p>

<p>
  <strong>Article:</strong>
  <%= @article_image.article %>
</p>

<p>
  <strong>Article source:</strong>
  <%= @article_image.article_source_id %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @article_image.creator_id %>
</p>

<%= link_to 'Edit', edit_article_image_path(@article_image) %> |
<%= link_to 'Back', article_images_path %>
