<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @producer.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @producer.creator_id %>
</p>

<p>
  <strong>Modifier:</strong>
  <%= @producer.modifier_id %>
</p>

<%= link_to 'Edit', edit_producer_path(@producer) %> |
<%= link_to 'Back', producers_path %>
