<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @location.uuid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @location.creator_id %>
</p>

<p>
  <strong>Modifier:</strong>
  <%= @location.modifier_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
